<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"

      type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SWAUTCSharpFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <!--
  This writes the log information to the console window.  It  logs all events
  that are at least at the INFO level 
  -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <!--
  This stores information in the current date.txt file.  It  captures all log events
  
  -->

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value=""/>
      <param name="AppendToFile" value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="5MB" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="Log4NetTest.OtherClass">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeoIPServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GeoIPServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/geoipservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="GeoIPServiceSoap"
                contract="ServiceReference.GeoIPServiceSoap" name="GeoIPServiceSoap" />
            <endpoint address="http://www.webservicex.net/geoipservice.asmx"
                binding="customBinding" bindingConfiguration="GeoIPServiceSoap12"
                contract="ServiceReference.GeoIPServiceSoap" name="GeoIPServiceSoap12" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SWAUTCSharpFramework.Properties.Settings>
            <setting name="SeleniumFirst_net_webservicex_www_GeoIPService"
                serializeAs="String">
                <value>http://www.webservicex.net/geoipservice.asmx</value>
            </setting>
            <setting name="SeleniumFirst_MyFirstWebServiceReference_Calculator"
                serializeAs="String">
                <value>http://www.dneonline.com/calculator.asmx</value>
            </setting>
        </SWAUTCSharpFramework.Properties.Settings>
    </applicationSettings>
</configuration>