<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.1.0" targetFramework="net452" />
  <package id="ExtentReports" version="3.0.2" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
  <package id="NUnit" version="3.7.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.7.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="Screenshots" version="1.0.0" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.30" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.18.0" targetFramework="net452" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.4" targetFramework="net452" />
  <package id="Selenium.Support" version="3.5.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.31.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.18.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.5.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.WaitExtensions" version="1.0.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver.win32" version="2.31.0.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.16.1" targetFramework="net452" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net452" />
</packages>